@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap");
@import "tailwindcss";
@plugin "tailwindcss-animate";

.dark,
:root {
  --background: oklch(0.141 0.005 285.823);
  --foreground: oklch(0.9 0.05 85.9);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-decorative: "Cinzel Decorative", "sans-serif";
}

@layer base {
  * {
    @apply border-gray-200 dark:border-gray-800;
  }
  body {
    @apply bg-gradient-to-br from-gray-950 via-stone-900 to-amber-950;
    @apply min-h-screen;
    @apply font-decorative;
    @apply bg-background text-foreground;
  }
}

button,
[role="button"] {
  cursor: pointer;
}

:disabled {
  cursor: default;
}
